<table id="messages">
    <thead>
    <tr>
      <th>Subject</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <% @messages.each do |m| %>
      <tr>
        <td><%= link_to m.topic, message_path(m) %></td>
      
        <td><%= link_to "Delete", delete_message_path(m) %></td>
      </tr>
    <% end %>
  </tbody>
</table>