    <div id="profile-page">


        <div class="span6 seller">
          <div class="left color1"><h2>As A Buyer</h2></div>
          <div class="right">
            <h5><a href="">Purchaed item</a></h5>
            <h5><a href="">Payment information</a></h5>
            <h5><a href="">Account information</a></h5>
          </div>

        </div>
          <div class="span6 buyer">
            <div class="left color2"><h2>As a Seller</h2></div>
            <div class="right">
              <h5><a href="">Sell a Product</a></h5>
              <h5><a href="">Manage Items</a></h5>
              <h5><a href="">Payment</a></h5>
            </div>
          </div>
    </div> <!--/advanced-search-->


<div class="clearfix"></div>
