<div id="profile-page">

<table id="cart">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
<% @carts.each do |cart| %>
  <tr>
    <td><%= cart.id %></td>
    <td><%= link_to 'Show', cart %></td>
    <td><%= link_to 'Delete', cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

</div>

