@import "bootstrap";
body { padding-top: 60px; }
@import "bootstrap-responsive";



.sidebar-nav {
        padding: 9px 0;
      }



#map img {
  max-width: none;
}
#map label {
  width: auto; display:inline;
}

#map {
  height: 300px;
}

textarea {
  width: 208px;
  height: 50px;
}