/* line 1, styles.less */
/* line 2, styles.less */


#top-header {
  height: 70px;
  background: -webkit-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -o-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -ms-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  text-shadow: 0px 1px 0px white;
  border-width: 1px;
  border-style: solid;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -webkit-border-image: none;
  -moz-border-image: none;
  border-image: none;
  border-color: #e6e6e6 #d4d4d4 #eeeeee;
  font-size: 1em;
  font-weight: bold;
  line-height: 18px;
  color: #5e6469;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.37);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.37);
  display: table;
  width: 100%;
  position: relative;
  margin: 0px 0px 15px;
  padding: 10px 30px;
  z-index: 800;
}
/* line 40, styles.less */
.search_bar {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  margin-left: 180px;
  /*left:-17px;*/

}
/* line 48, styles.less */
#nav-search-label {
  color: #333333;
  display: block;
  font-family: "Myriad Pro";
  font-size: 14px;
  font-weight: bold;
  /*left: 140px;*/

  line-height: 12px;
  position: absolute;
  top: 16px;
}
/* line 59, styles.less */
#nav-search-in {
  display: inline-block;
  height: 27px;
  /*left: 202px;*/

  left: 80px;
  overflow: hidden;
  position: absolute;
  top: 6px;
  z-index: 900;
}
/* line 69, styles.less */
#nav-search-in #nav-search-in-content {
  color: #000;
  display: inline-block;
  font-family: "arial", "sans-serif";
  font-size: 11px;
  height: 27px;
  line-height: 27px;
  margin: 0 59px 0 6px;
  text-indent: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* line 81, styles.less */
#nav-search-in.nav-facade-active .nav-down-arrow {
  display: inline-block;
  right: 10px;
  top: 11px;
  background: url("search_arrow.png");
  height: 5px;
  width: 9px;
}
/* line 89, styles.less */
.nav-facade-active #searchDropdownBox {
  cursor: pointer;
  height: 29px;
  left: 0;
  opacity: 0;
  top: 0;
  visibility: visible;
  width: auto;
}
/* line 98, styles.less */
#searchDropdownBox {
  background: white repeat scroll 0 0 white;
  border: 1px solid #DDDDDD;
  color: black;
  font-family: "arial", "sans-serif";
  left: 5px;
  margin: 0;
  outline: medium none;
  padding: 0;
  position: absolute;
  top: 3px;
  visibility: hidden;
  width: 190px;
}
/* line 112, styles.less */
.nav-sprite {
  background: url("search_bck.png") no-repeat;
}
/* line 116, styles.less */
.nav-searchfield-outer {
  height: 30px;
  margin-left: 190px;
  margin-top: 5px;
  width: 637px;
}
/* line 123, styles.less */
#twotabsearchtextbox {
  background: white repeat scroll 0 0 transparent;
  border: medium none;
  box-shadow: none;
  color: #333;
  font-family: "Myriad Pro";
  font-size: 14px;
  height: 30px;
  margin: 6px 165px 0;
  outline: medium none;
  padding: 2px;
  width: 72%;
  font-weight: bold;
  position: relative;
  bottom: 8px;
  right: 284px;
  /*z-index: -1;*/

  padding-left: 110px;
}
/* line 142, styles.less */
.nav-submit-button {
  background-image: url("go_bttn.png");
  height: 27px;
  margin: 0;
  overflow: hidden;
  padding: 0 0 0 3px;
  position: absolute;
  left: 590px;
  top: 7px;
}
/* line 153, styles.less */
.nav-submit-button .nav-submit-input {
  background: white repeat scroll 0 0 transparent;
  border: medium none;
  color: white;
  cursor: pointer;
  font-size: 15px;
  height: 28px;
  /*font-family:"Myriad Pro";*/

  line-height: 15px;
  margin: 0;
  padding: 0;
  width: 34px;
}
/* line 167, styles.less */
.goleft {
  margin-left: 0;
  background: -webkit-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -o-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -ms-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;


-moz-box-shadow: 0px 0px 5px #000000;
-webkit-box-shadow: 0px 0px 5px #000000;
box-shadow: 0px 0px 5px #000000;

  height: 720px;

}


#side-nav{
  /*margin-left: 10px;*/

}
#side-nav li {
  position: relative;
  list-style: none;
  padding: 3px;
  right: 30px;
}

/*.map_container{
  margin-left: 280px;
}*/

#advanced-search{
  background: -webkit-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -o-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -ms-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;

-moz-box-shadow: 0px 0px 5px #000000;
-webkit-box-shadow: 0px 0px 5px #000000;
box-shadow: 0px 0px 5px #000000;


  padding: 20px;
  height: 319px;
  width: 805px;
  margin-left: 323px;
  margin-bottom: 20px;
}

#advanced-form{
  margin-left: 30px;
}

#form-left {
	float: left;
}

#form-right {
	float: right;
	margin-right: 500px;
}

#advanced-submit{
	margin-top: 10px;
}




#message-box {
  margin-top: 20px;
  /*margin-left: 10px;*/
}

#message-box li {
  list-style: none;
  cursor: pointer;
  margin-bottom: 10px;
}



.map_container {
margin-left: 323px;
width: 831px;
height: 290px;

-moz-box-shadow: 0px 0px 5px #000000;
-webkit-box-shadow: 0px 0px 5px #000000;
box-shadow: 0px 0px 5px #000000;
}

.gmaps4rails_map {
width: 831px;
height: 290px;
}

.gmaps4rails_map img{
  max-width: none;
}



#form-search{
  position: relative;
}

.search-select{
  position: absolute;
  width: 110px;
  left: 0px;
  top: 0px;
  background: #e3e3e3;
}

#name-search{
  width: 400px;
  padding-left: 114px;
}

#go{
  position: absolute;
  /*background: #e3e3e3;*/
  left: 475px;
  bottom: 14px;
  height: 22px;
  border-radius: 4px;

}


#logo{
  float: left;
  position: relative;
  right: 23px;
  bottom: 18px;
  cursor: pointer;
}

#logo a:hover{
  color: #848484;
  text-decoration: none;
}

#sign-in-up{
float: right;
/*padding: 10px;*/
}


.box{
  background: -webkit-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -o-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -ms-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;

-moz-box-shadow: 0px 0px 5px #000000;
-webkit-box-shadow: 0px 0px 5px #000000;
box-shadow: 0px 0px 5px #000000;
border-radius: 6px;

height: 191px;
padding: 15px;
margin-bottom: 20px;
width: 157px;
}

.box:hover {
  background: -webkit-linear-gradient(-90deg, #e3e3e3, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -moz-linear-gradient(-90deg, #e3e3e3, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -o-linear-gradient(-90deg, #e3e3e3, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -ms-linear-gradient(-90deg, #e3e3e3, #dfe1e2) repeat scroll 0% 0% transparent;
  background: linear-gradient(-90deg, #e3e3e3, #dfe1e2) repeat scroll 0% 0% transparent;
}

/*.row-fluid [class*="span"]:first-child {
margin-left: 20px;
}*/

#produt{
  margin-left: 20px;
}

.top-border{
  border-top: 1px solid #e0e0e0;
  width: 100%;
  position: relative;
}

.product-show{
  padding-top: 40px;
  width: 519px;
  position: relative;
}

.product-show #image {

  padding: 3px;
  background: white;
  width: 225px;
  height: 240px;
  margin: 0px 25px 25px 0;
  float: left;
}

.product-show #image img{
  width: 200px;
  height: auto;
}


#product-show-page{
  background: -webkit-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -o-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -ms-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;

-moz-box-shadow: 0px 0px 5px #000000;
-webkit-box-shadow: 0px 0px 5px #000000;
box-shadow: 0px 0px 5px #000000;


  /*padding: 20px;*/
  height: 537px;
  width: 1028px;
  margin-left: 323px;
  margin-bottom: 20px;
}

#product-buttons{
  width: 105px;
  position: absolute;
  right: -507px;
  top: 29px;
}

#product-buttons .btn{
  width: 78px;
  text-align: center;
  margin-bottom: 5px;
}


#product-show-page .map_container{
  width: 454px;
  position: absolute;
  top: 361px;
  left: 558px;
}
#product-show-page .map_container #map{
  width: 454px;
}

#profile-page{
  background: -webkit-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -o-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -ms-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;

-moz-box-shadow: 0px 0px 5px #000000;
-webkit-box-shadow: 0px 0px 5px #000000;
box-shadow: 0px 0px 5px #000000;


  padding: 20px;
  height: 418px;
  width: 805px;
  margin-left: 323px;
  margin-bottom: 20px;
}



.seller, .buyer {
  height: 180px;
  background: #e3e3e3;
  margin-top: 20px;
  margin-left: 83px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .5),
              -2px -2px 2px rgba(0, 0, 0, .5);
  border-radius: 2px;
  text-align: center;
}
.left{
  width: 200px;
  height: 100%;
  margin-right: 40px;
  float: left;
}
.color1{
  background: #3777d6;
}
.color2{
  background: #d5812e;
}

.seller h2, .buyer h2 {
  line-height: 160px;
}

.right{
  padding: 30px;
  text-align: left;
}

.right a{
  text-decoration: none;
}

#msg{
  background: -webkit-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -o-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -ms-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;

-moz-box-shadow: 0px 0px 5px #000000;
-webkit-box-shadow: 0px 0px 5px #000000;
box-shadow: 0px 0px 5px #000000;


  padding: 20px;
  height: 683px;
  width: 805px;
  margin-left: 323px;
  margin-bottom: 20px;
}
#msg textarea{
  height: 235px;
  width: 552px;
}

#msg h6{
  padding: 10px;
  background: #cdbcab;
  border-radius: 5px;
}
#msg p{
  padding: 20px;
  background: #ebe5df;
  border-radius: 5px;
}
#msg .dataTables_wrapper{
  bottom: 703px;
}

 #profile-page .dataTables_wrapper{
  bottom: 690px;
 }

 .filter{
  padding-left: 20px;
 }


.filter2{
  padding-left: 20px;
 }

 #advanced-search-box{
  background: -webkit-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -o-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: -ms-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;
  background: linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0% 0% transparent;

-moz-box-shadow: 0px 0px 5px #000000;
-webkit-box-shadow: 0px 0px 5px #000000;
box-shadow: 0px 0px 5px #000000;


  padding: 20px;
  height: 537px;
  width: 885px;
  margin-left: 323px;
  margin-bottom: 20px;
 }

 #sleft{
  float: left;
  margin-right: 150px;
 }

 a:hover{
  text-decoration: none;
  background: none;
  color: #28d3db;
 }

 .fb_share{
  margin-left:5px;
  margin-top: 5px;
  /*padding:2px 4px 3px;*/
  /*background: #8077e8;*/
  /*border-radius: 4px;*/
 }
.fb_share img{
  height: 45px;
  width: auto;
}
 .new-product{
  position: relative;
  bottom: 10px;
 }

 .ads{
  position: relative;
  left: 711px;
  top: -61px;
 }

 .header-row{
  height: 50px;
 }

 .inline {
  position: relative;
  right: 392px;
 }

 #cart_img{
  height: 40px;
  width: 48px;
  display: inline;
  float: left;
 }

 #cart_link, #cart_img{
  position: relative;
  left: 583px;
  top: 26px;
 }

 .navbar-text{
  position: relative;
  left: 60px;
 }

 .hei{
  height: 1000px;
 }

.box img{
  height: 100px;
  width: auto;
}

.box h4{
  margin-top: 0;
  /*padding-top: 0;*/
}

a:visited{
  color: black;
}